In [ ]:
import pandas as pd 
import numpy as np
from bs4 import BeautifulSoup
import requests

In [ ]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
#requests.get('https://www.flipkart.com/search?q=smartphones',headers=headers).text
html=requests.get('https://www.cartrade.com/buy-used-cars/mumbai/c/#so=-1&sc=-1&city=1').text

In [ ]:
soup = BeautifulSoup(html, 'lxml')

In [ ]:
soup.find_all('div', class_='certif_out')[0].find('div', class_ = 'certi_R').find('img').get('src')

'https://imgd-ct.aeplcdn.com/0x0/cw/static/icons/svg/logos/absure-logo.svg?q=75'

In [ ]:
len(soup.find_all('div', class_ = 'certif_out'))

8

In [ ]:
for i in soup.find_all('div'):
  i.find_all('img', class_ = 'class="overflow-hidden blk_grid_img_new--non-absure"')

In [ ]:

soup.find_all('img', class_ = 'class="overflow-hidden blk_grid_img_new--non-absure"')

[]

In [ ]:
soup.find_all('li', class_ ="blk_grid_new blk_grid_new_emi_eligible carlistblk_new carlistblk card-list-container " ).find_all('div', class_ ="lft_ARW")

AttributeError: ignored

In [ ]:
class="blk_grid_new  carlistblk_new carlistblk card-list-container "

In [ ]:
for i in soup.find_all('li', class_="blk_grid_new"):
  print(i.find('div', class_ = 'info_cr_new').find('ul').find_all('li')[2].text)

Petrol
Diesel
Petrol
Petrol
Electric
Petrol
Petrol
Petrol
Petrol
Petrol
Petrol
CNG
Petrol
Diesel
Petrol
Petrol
Petrol
CNG
Petrol
Petrol
Petrol
Petrol
Petrol
Petrol
Petrol
Petrol
Petrol
Petrol
Diesel
Petrol
Diesel
Petrol

In [ ]:
for i in soup.find_all('li', class_="blk_grid_new"):
   print(i.find('div', class_ = 'info_cr_new').find('ul').find_all('li')[0].text)

58,000 KMs
66,602 KMs
27,000 KMs
64,000 KMs
4,100 KMs
40,000 KMs
47,189 KMs
37,036 KMs
34,867 KMs
49,013 KMs
57,983 KMs
68,921 KMs
16,579 KMs
85,000 KMs
24,013 KMs
48,655 KMs
32,015 KMs
39,622 KMs
20,281 KMs
65,959 KMs
19,784 KMs
21,769 KMs
32,143 KMs
24,595 KMs
58,676 KMs
41,236 KMs
32,320 KMs
19,669 KMs
47,398 KMs
37,019 KMs
15,416 KMs
48,164 KMs

In [ ]:
for i in soup.find_all('li', class_="blk_grid_new"):
   print(i.find('div', class_ = 'cr_prc').text.replace('Make', '').replace('Offer', '')[:20].strip())

₹2,60,000
₹11,50,000
₹18,75,000
₹6,45,000
₹15,00,000
₹6,45,000
₹4,75,000
₹4,75,000
₹4,75,000
₹8,45,000
₹8,65,000
₹7,45,000
₹10,95,000
₹5,75,000
₹9,90,000
₹6,75,000
₹6,25,000
₹5,21,000
₹5,91,000
₹3,85,000
₹7,50,000
₹6,90,000
₹11,25,000
₹4,45,000
₹12,75,000
₹8,25,000
₹5,45,000
₹7,65,000
₹31,50,000
₹5,85,000
₹21,75,000
₹7,21,000

In [ ]:
for i in soup.find_all('li', class_="blk_grid_new"):
   print(i.find('h2').text.strip())

2014 Maruti Suzuki Estilo VXi BS-IV
2017 Hyundai Creta SX Plus 1.6 AT CRDI
2019 Jeep Compass Limited Plus Petrol AT [2018-2020]
2017 Honda City V Petrol [2017-2019]
2022 Tata Nexon EV XZ Plus
2016 Volkswagen Polo GT TSI
2015 Honda Jazz V Petrol
2014 Honda Amaze 1.2 S i-VTEC
2017 Tata Tiago Revotron XZA [2017-2019]
2017 Honda City V CVT Petrol [2017-2019]
2016 Hyundai Creta SX Plus 1.6  Petrol
2014 Maruti Suzuki Ertiga Vxi CNG
2021 Honda City V
2015 Nissan Terrano XL (D)
2020 Hyundai Venue SX 1.0 Petrol [2019-2020]
2017 Honda Jazz V AT Petrol
2017 Hyundai Elite i20 Sportz 1.2
2020 Hyundai Santro Sportz CNG [2018-2020]
2017 Hyundai Elite i20 Sportz 1.2
2013 Volkswagen Polo Highline1.2L (P)
2020 Renault Triber RXZ EASY-R AMT
2017 Maruti Suzuki Baleno Zeta 1.2 AT
2018 Hyundai Creta 1.6 SX Plus AT Petrol
2016 Maruti Suzuki Celerio VXi AMT ABS
2018 Hyundai Creta 1.6 SX Plus AT Petrol
2019 Hyundai Elite i20 Asta 1.2 (O) CVT [2019-2020]
2020 Renault Kwid 1.0 RXT AMT Opt
2021 Renault Triber RXZ [2019-2020]
2018 Ford Endeavour Titanium 3.2 4x4 AT
2015 Hyundai Verna 1.6 VTVT SX
2021 Tata Harrier XZA Plus
2015 Honda City VX CVT

In [ ]:
for i in soup.find_all('li', class_="blk_grid_new"):
  try:
    print(i.find('span', class_ = 'pull-left').text)
  except:
    print(np.nan)

nan
nan
EMI starts at ₹31,137
EMI starts at ₹10,711
EMI starts at ₹24,910
EMI starts at ₹10,711
EMI starts at ₹7,888
EMI starts at ₹7,888
EMI starts at ₹7,888
EMI starts at ₹14,032
EMI starts at ₹14,364
EMI starts at ₹12,371
EMI starts at ₹18,184
EMI starts at ₹9,548
EMI starts at ₹16,440
EMI starts at ₹11,209
EMI starts at ₹10,379
EMI starts at ₹8,652
nan
EMI starts at ₹6,393
EMI starts at ₹12,455
EMI starts at ₹11,458
EMI starts at ₹18,682
EMI starts at ₹7,389
EMI starts at ₹21,173
nan
nan
EMI starts at ₹12,704
EMI starts at ₹52,311
EMI starts at ₹9,714
EMI starts at ₹36,119
EMI starts at ₹11,973

In [ ]:
for i in soup.find_all('li', class_="blk_grid_new"):
  print(i.find('div', class_ = 'cr_prc').find_all('span')[1].text.replace('Offer', '').strip().replace('Make', '') )

₹ 8.65 Lakh
₹ 8.85 Lakh
₹ 7.65 Lakh
₹ 11.65 Lakh



₹ 6.35 Lakh








₹ 8.51 Lakh




₹ 22.75 Lakh

In [ ]:
img = []
name = []
price = []
kms_driven = []
fuel_type = []
emi = []
actual_pr = []
for i in soup.find_all('li', class_="blk_grid_new"):
  img.append(i.find_all('img', class_="overflow-hidden")[0].get('src'))
  name.append(i.find('h2').text.strip())
  price.append(i.find('div', class_ = 'cr_prc').text.replace('Make', '').replace('Offer', '')[:20].strip())
  kms_driven.append(i.find('div', class_ = 'info_cr_new').find('ul').find_all('li')[0].text)
  fuel_type.append(i.find('div', class_ = 'info_cr_new').find('ul').find_all('li')[2].text)
  try:
    emi.append(i.find('span', class_='pull-left').text)
  except:
    emi.append(np.nan)

  actual_pr.append(i.find('div', class_ = 'cr_prc').find_all('span')[1].text.replace('Offer', '').strip().replace('Make', '') )

In [ ]:
pd.DataFrame({
    'img':img,
    'name':name,
    'price':price,
    'kms_driven':kms_driven,
    'fuel_type':fuel_type,
    'emi':emi,
    'actual_pr':actual_pr
})

,img,name,price,kms_driven,fuel_type,emi,actual_pr
0,https://imgd-ct.aeplcdn.com/640X480/cw/ucp/sto...,2014 Maruti Suzuki Estilo VXi BS-IV,"₹2,60,000","58,000 KMs",Petrol,NaN,
1,https://imgd-ct.aeplcdn.com/640X480/cw/ucp/sto...,2017 Hyundai Creta SX Plus 1.6 AT CRDI,"₹11,50,000","66,602 KMs",Diesel,NaN,
2,https://imgd-ct.aeplcdn.com/640X480/cw/ucp/sto...,2019 Jeep Compass Limited Plus Petrol AT [2018...,"₹18,75,000","27,000 KMs",Petrol,"EMI starts at ₹31,137",
3,https://imgd-ct.aeplcdn.com/640X480/cw/ucp/sto...,2017 Honda City V Petrol [2017-2019],"₹6,45,000","64,000 KMs",Petrol,"EMI starts at ₹10,711",
4,https://imgd-ct.aeplcdn.com/640X480/cw/ucp/sto...,2022 Tata Nexon EV XZ Plus,"₹15,00,000","4,100 KMs",Electric,"EMI starts at ₹24,910",
5,https://imgd-ct.aeplcdn.com/640X480/cw/ucp/sto...,2016 Volkswagen Polo GT TSI,"₹6,45,000","40,000 KMs",Petrol,"EMI starts at ₹10,711",
6,https://imgd-ct.aeplcdn.com/640X480/cw/ucp/sto...,2015 Honda Jazz V Petrol,"₹4,75,000","47,189 KMs",Petrol,"EMI starts at ₹7,888",
7,https://imgd-ct.aeplcdn.com/640X480/cw/ucp/sto...,2014 Honda Amaze 1.2 S i-VTEC,"₹4,75,000","37,036 KMs",Petrol,"EMI starts at ₹7,888",
8,https://imgd-ct.aeplcdn.com/640X480/cw/ucp/sto...,2017 Tata Tiago Revotron XZA [2017-2019],"₹4,75,000","34,867 KMs",Petrol,"EMI starts at ₹7,888",
9,https://imgd-ct.aeplcdn.com/640X480/cw/ucp/sto...,2017 Honda City V CVT Petrol [2017-2019],"₹8,45,000","49,013 KMs",Petrol,"EMI starts at ₹14,032",₹ 8.65 Lakh
10,https://imgd-ct.aeplcdn.com/640X480/cw/ucp/sto...,2016 Hyundai Creta SX Plus 1.6 Petrol,"₹8,65,000","57,983 KMs",Petrol,"EMI starts at ₹14,364",₹ 8.85 Lakh
11,https://imgd-ct.aeplcdn.com/640X480/cw/ucp/sto...,2014 Maruti Suzuki Ertiga Vxi CNG,"₹7,45,000","68,921 KMs",CNG,"EMI starts at ₹12,371",₹ 7.65 Lakh
12,https://imgd-ct.aeplcdn.com/640X480/cw/ucp/sto...,2021 Honda City V,"₹10,95,000","16,579 KMs",Petrol,"EMI starts at ₹18,184",₹ 11.65 Lakh
13,https://imgd-ct.aeplcdn.com/640X480/cw/ucp/sto...,2015 Nissan Terrano XL (D),"₹5,75,000","85,000 KMs",Diesel,"EMI starts at ₹9,548",
14,https://imgd-ct.aeplcdn.com/640X480/cw/ucp/sto...,2020 Hyundai Venue SX 1.0 Petrol [2019-2020],"₹9,90,000","24,013 KMs",Petrol,"EMI starts at ₹16,440",
15,https://imgd-ct.aeplcdn.com/640X480/cw/ucp/sto...,2017 Honda Jazz V AT Petrol,"₹6,75,000","48,655 KMs",Petrol,"EMI starts at ₹11,209",
16,https://imgd-ct.aeplcdn.com/640X480/cw/ucp/sto...,2017 Hyundai Elite i20 Sportz 1.2,"₹6,25,000","32,015 KMs",Petrol,"EMI starts at ₹10,379",₹ 6.35 Lakh
17,https://imgd-ct.aeplcdn.com/640X480/cw/ucp/sto...,2020 Hyundai Santro Sportz CNG [2018-2020],"₹5,21,000","39,622 KMs",CNG,"EMI starts at ₹8,652",
18,https://imgd-ct.aeplcdn.com/640X480/cw/ucp/sto...,2017 Hyundai Elite i20 Sportz 1.2,"₹5,91,000","20,281 KMs",Petrol,NaN,
19,https://imgd-ct.aeplcdn.com/640X480/cw/ucp/sto...,2013 Volkswagen Polo Highline1.2L (P),"₹3,85,000","65,959 KMs",Petrol,"EMI starts at ₹6,393",
20,https://imgd-ct.aeplcdn.com/640X480/cw/ucp/sto...,2020 Renault Triber RXZ EASY-R AMT,"₹7,50,000","19,784 KMs",Petrol,"EMI starts at ₹12,455",
21,https://imgd-ct.aeplcdn.com/640X480/cw/ucp/sto...,2017 Maruti Suzuki Baleno Zeta 1.2 AT,"₹6,90,000","21,769 KMs",Petrol,"EMI starts at ₹11,458",
22,https://imgd-ct.aeplcdn.com/640X480/cw/ucp/sto...,2018 Hyundai Creta 1.6 SX Plus AT Petrol,"₹11,25,000","32,143 KMs",Petrol,"EMI starts at ₹18,682",
23,https://imgd-ct.aeplcdn.com/640X480/cw/ucp/sto...,2016 Maruti Suzuki Celerio VXi AMT ABS,"₹4,45,000","24,595 KMs",Petrol,"EMI starts at ₹7,389",
24,https://imgd-ct.aeplcdn.com/640X480/cw/ucp/sto...,2018 Hyundai Creta 1.6 SX Plus AT Petrol,"₹12,75,000","58,676 KMs",Petrol,"EMI starts at ₹21,173",
25,https://imgd-ct.aeplcdn.com/640X480/cw/ucp/sto...,2019 Hyundai Elite i20 Asta 1.2 (O) CVT [2019-...,"₹8,25,000","41,236 KMs",Petrol,NaN,₹ 8.51 Lakh
26,https://imgd-ct.aeplcdn.com/640X480/cw/ucp/sto...,2020 Renault Kwid 1.0 RXT AMT Opt,"₹5,45,000","32,320 KMs",Petrol,NaN,
27,https://imgd-ct.aeplcdn.com/640X480/cw/ucp/sto...,2021 Renault Triber RXZ [2019-2020],"₹7,65,000","19,669 KMs",Petrol,"EMI starts at ₹12,704",
28,https://imgd-ct.aeplcdn.com/640X480/cw/ucp/sto...,2018 Ford Endeavour Titanium 3.2 4x4 AT,"₹31,50,000","47,398 KMs",Diesel,"EMI starts at ₹52,311",
29,https://imgd-ct.aeplcdn.com/640X480/cw/ucp/sto...,2015 Hyundai Verna 1.6 VTVT SX,"₹5,85,000","37,019 KMs",Petrol,"EMI starts at ₹9,714",
30,https://imgd-ct.aeplcdn.com/640X480/cw/ucp/sto...,2021 Tata Harrier XZA Plus,"₹21,75,000","15,416 KMs",Diesel,"EMI starts at ₹36,119",₹ 22.75 Lakh
31,https://imgd-ct.aeplcdn.com/640X480/cw/ucp/sto...,2015 Honda City VX CVT,"₹7,21,000","48,164 KMs",Petrol,"EMI starts at ₹11,973",